@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

@import "reset.scss";

@import "theme/color.scss";
@import "theme/components.scss";

@import "layout.scss";

@import "page/login.scss";
@import "page/find_id_pw.scss";
@import "page/intro.scss";
@import "page/campaigns.scss";
@import "page/insight.scss";
@import "page/cs.scss";

.popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

  .popup {
    position: relative;
    margin: 0 auto;
    padding: 33px 35px;
    background: white;
    border-radius: 10px;
    max-width: 840px;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;

    .popup-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
    }

    .popup-body {
      margin-top: 30px;

      .table {
        margin-bottom: 20px;
        
        td:first-of-type {
    
          .thumb {
            float: left;
            width: 32px;
            height: 32px;
            background: $color-text-regular;
            border-radius: 8px;
          }
  
          .nickname {
            float: left;
            margin-left: 10px;
            line-height: 32px;
          }
        }
      }
    }

    .popup-close {
      top: 30px;
      right: 26px;
      position: absolute;
      width: 30px;
      height: 30px;
      border: none;
      outline: none;
      background: url(../img/i_popup_close.svg) center no-repeat;
      cursor: pointer;
    }

    .badge {
      display: inline-block;
      margin: 4px;
      background: $color-text-regular;
      color: white;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@import "mobile.scss";
