<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
  </head>
  <body>
    <style>
      body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .links {
        display: block;
      }

      .links li {
        margin: 10px;
      }
    </style>
    <ul class="links">
      <li>
        <a href="./mail_find_id.html">아이디 찾기</a>
      </li>
      <li>
        <a href="./mail_find_pw.html">비밀번호 찾기</a>
      </li>
      <li>
        <a href="./mail_dorminant1.html">휴면 예정 안내</a>
      </li>
      <li>
        <a href="./mail_dorminant2.html">휴면 처리 안내</a>
      </li>
    </ul>
  </body>
</html>
