<html>
  <head></head>
  <body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="margin: 40px 0; width: 100%"
    >
      <tbody>
        <tr>
          <td align="center">
            <table
              cellpadding="0"
              cellspacing="0"
              style="border: 1px solid rgb(201, 201, 201); width: 670px"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      background: hsl(215, 92%, 58%);
                      height: 60px;
                      text-align: center;
                      line-height: 1;
                      color: white;
                      font-size: 20px;
                      font-weight: 500;
                    "
                  >
                    임시 비밀번호 발급
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      padding: 20px;
                      text-align: left;
                      color: rgb(102, 102, 102);
                      line-height: 18px;
                      font-size: 12px;
                      border-bottom-color: rgb(233, 233, 233);
                      border-bottom-width: 1px;
                      border-bottom-style: solid;
                    "
                  >
                    안녕하세요. <strong>BAND&amp;CAST</strong>입니다.<br />
                    <br />
                    <strong>{{회원이름}}</strong>님의 아이디, 임시 비밀번호
                    정보는 아래와 같습니다
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      padding: 20px;
                      text-align: left;
                      color: rgb(102, 102, 102);
                      font-size: 12px;
                      border-bottom-color: rgb(233, 233, 233);
                      border-bottom-width: 1px;
                      border-bottom-style: solid;
                    "
                  >
                    <table
                      cellpadding="0"
                      cellspacing="1"
                      style="background: rgb(233, 233, 233); width: 100%"
                    >
                      <tbody>
                        <tr>
                          <td
                            style="
                              background: rgb(250, 250, 250);
                              padding: 15px;
                              width: 150px;
                              text-align: left;
                              font-size: 12px;
                            "
                          >
                            아이디
                          </td>
                          <td
                            style="
                              background: rgb(255, 255, 255);
                              padding: 15px;
                              text-align: left;
                              font-size: 12px;
                            "
                          >
                            <strong>silversik</strong>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              background: rgb(250, 250, 250);
                              padding: 15px;
                              width: 150px;
                              text-align: left;
                              font-size: 12px;
                            "
                          >
                            비밀번호
                          </td>
                          <td
                            style="
                              background: rgb(255, 255, 255);
                              padding: 15px;
                              text-align: left;
                              font-size: 12px;
                            "
                          >
                            <strong>0c44634efe56fcbd4366cd186bbf9f55</strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      background: rgb(250, 250, 250);
                      padding: 20px;
                      text-align: center;
                      color: rgb(51, 51, 51);
                      font-size: 12px;
                    "
                  >
                    Copyright ⓒ 2022 BAND&amp;CAST All Rights Reserved.
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
