<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  style="margin: 40px 0; width: 100%"
>
  <tbody>
    <tr>
      <td align="center">
        <table
          cellpadding="0"
          cellspacing="0"
          style="border: 1px solid rgb(201, 201, 201); width: 670px"
        >
          <tbody>
            <tr>
              <td
                style="
                  background: #3182f6;
                  height: 80px;
                  text-align: center;
                  line-height: 1;
                  color: white;
                  font-size: 24px;
                "
              >
                휴면회원 예정 안내
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 20px;
                  text-align: left;
                  color: rgb(102, 102, 102);
                  line-height: 18px;
                  font-size: 12px;
                  border-bottom-color: rgb(233, 233, 233);
                  border-bottom-width: 1px;
                  border-bottom-style: solid;
                "
              >
                안녕하세요. <strong>BAND&amp;CAST</strong>입니다.<br />
                <br />
                <strong>{{user_id}}</strong> 고객님의 계정이 휴면회원으로 처리될
                예정입니다.<br />
                고객님의 개인정보 보호를
                위하여 <strong>{{quies_day}}</strong> 일 동안 로그인하지 않은
                고객님을 휴면회원으로 지정하여 개인정보를 분리 보관함으로써
                고객님의 개인정보를 소중히 보호하고 있습니다.
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 20px;
                  text-align: left;
                  color: rgb(102, 102, 102);
                  font-size: 12px;
                  border-bottom-color: rgb(233, 233, 233);
                  border-bottom-width: 1px;
                  border-bottom-style: solid;
                "
              >
                <table
                  cellpadding="0"
                  cellspacing="1"
                  style="background: rgb(233, 233, 233); width: 100%"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          background: rgb(250, 250, 250);
                          padding: 15px;
                          width: 150px;
                          text-align: left;
                          font-size: 12px;
                        "
                      >
                        휴면회원 처리예정 계정
                      </td>
                      <td
                        style="
                          background: rgb(255, 255, 255);
                          padding: 15px;
                          text-align: left;
                          font-size: 12px;
                        "
                      >
                        {{user_id}}
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          background: rgb(250, 250, 250);
                          padding: 15px;
                          text-align: left;
                          font-size: 12px;
                        "
                      >
                        휴면회원 처리일
                      </td>
                      <td
                        style="
                          background: rgb(255, 255, 255);
                          padding: 15px;
                          text-align: left;
                          font-size: 12px;
                        "
                      >
                        {{quies_date}}
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          background: rgb(250, 250, 250);
                          padding: 15px;
                          text-align: left;
                          font-size: 12px;
                        "
                      >
                        개인정보 보호대상
                      </td>
                      <td
                        style="
                          background: rgb(255, 255, 255);
                          padding: 15px;
                          text-align: left;
                          font-size: 12px;
                        "
                      >
                        이름, 생년월일, 이메일 등 회원 가입시 입력한 개인정보
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 20px;
                  text-align: left;
                  color: rgb(102, 102, 102);
                  line-height: 18px;
                  font-size: 12px;
                  border-bottom-color: rgb(233, 233, 233);
                  border-bottom-width: 1px;
                  border-bottom-style: solid;
                "
              >
                고객님의 계정이 휴면회원으로 처리되면 고객님의 개인정보가 분리
                보관됨에 따라 제공하는 메일 및 문자 서비스를 제공받으실 수
                없습니다.<br />
                <br />
                본 메일은 관련법령(정보통신망 이용촉진 및 정보보호 등에 관한
                법률 제29조 제2항)에 의한 '개인정보 유효기간제' 시행에 따라
                수신동의 여부에 관계 없이 발송되었습니다. 본 메일은
                발신전용이므로 회신이 되지 않습니다. 문의사항은 고객센터를
                이용해 주시기 바랍니다.<br />
                감사합니다.
              </td>
            </tr>
            <tr>
              <td
                style="
                  background: rgb(250, 250, 250);
                  padding: 20px;
                  text-align: center;
                  color: rgb(51, 51, 51);
                  font-size: 12px;
                "
              >
                Copyright ⓒ 2022 BAND&amp;CAST All Rights Reserved.
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
