.color-primary {
  color: #3182f6 !important;
}

.color-success {
  color: #67c23a !important;
}

.color-warning {
  color: #e6a23c !important;
}

.color-danger {
  color: #f56c6c !important;
}

.color-info {
  color: #8b95a1 !important;
}

.bg-flat-white {
  background-color: #f5f7fa;
}

.border-top {
  border-top: 1px solid #e9eaec;
}

.border-top-black {
  border-top: 1px solid #1f2e3d;
}

.campaign-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.campaign-page > .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.campaign-detail-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.campaign-detail-page .contents-container {
  position: relative;
  padding: 0;
  width: 840px;
  overflow: hidden;
}

.campaign-detail-page .contents-container h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #4c5864;
}

.campaign-detail-page .contents-container .desc {
  color: #8b95a1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.campaign-detail-page .contents-container .swiper {
  width: 100%;
  height: 140px;
}

.campaign-detail-page .contents-container .swiper .swiper-slide > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.campaign-detail-page .contents-container .summary-infos {
  margin-top: 30px;
  background: #fbfbfb;
  border: 1px solid #e9eaec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.campaign-detail-page .contents-container .summary-infos > li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 30px;
}

.campaign-detail-page .contents-container .summary-infos > li .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.campaign-detail-page .contents-container .border-section {
  padding: 30px;
  border: 1px solid #e9eaec;
  line-height: 28px;
}

.campaign-detail-page .contents-container .border-section .status-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.campaign-detail-page .contents-container .border-section .progress-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.campaign-detail-page .contents-container .border-section .progress-wrap progress {
  width: 100%;
}

.campaign-detail-page .contents-container .border-section .progress-wrap .progress-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.campaign-detail-page .contents-container .border-section .title {
  min-width: 170px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.campaign-detail-page .side-info {
  margin-left: 40px;
  min-width: 360px;
}

.campaign-detail-page .side-info .infos {
  border: 1px solid #e9eaec;
}

.campaign-detail-page .side-info .infos > li {
  padding: 15px 30px;
  border-bottom: 1px solid #e9eaec;
  min-height: 30px;
  line-height: 30px;
  font-weight: 600;
}

.campaign-detail-page .side-info .infos > li:last-of-type {
  border-bottom: none;
}

.campaign-detail-page .side-info .infos .btn {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=campaigns.css.map */